Package: love.litten.juin
Name: Juin
Version: 1.0
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Spotify inspired lockscreen player
Maintainer: alexandra
Author: alexandra
Section: Tweaks
