Package: love.litten.juin
Name: Juin
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Spotify inspired lockscreen player
Maintainer: alexandra <hiya@litten.love>
Author: alexandra <hiya@litten.love>
Section: Tweaks
Depiction: https://repo.litten.love/depictions/jun/index.html
SileoDepiction: https://repo.litten.love/depictions/jun/jun.json
Icon: https://repo.litten.love/depictions/jun/assets/icon.png
